.btn-end-call {background: #f6695f !important; color:#FFF !important; width: auto; font-size: 13px; border-radius: 20px !important; display: inline-block; position: fixed; right: 15px; bottom: 15px; z-index: 50; font-weight: normal !important; text-shadow: none !important; padding: 2px 10px !important;
animation: play 2s ease infinite;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;

}
.btn-end-call:focus, .btn-end-call:hover {color: #FFF !important; opacity: 1 !important; text-decoration: none; box-shadow: none !important;}
.btn-end-call img {transform: rotate(135deg); margin-right: 5px;} 

@keyframes play {

    0% {
        transform: scale(1);
    }
    15% {
        box-shadow: 0 0 0 1px rgba(246, 105, 95, 0.4);
    }
    25% {
        box-shadow: 0 0 0 2px rgba(246, 105, 95, 0.4), 0 0 0 4px rgba(246, 105, 95, 0.2);
    }
    25% {
        box-shadow: 0 0 0 4px rgba(246, 105, 95, 0.4), 0 0 0 8px rgba(246, 105, 95, 0.2);
    }

}
@media screen and (max-width:992px) { 
.btn-end-call {left: 5px; right: auto; width: 45px; height:45px; border-radius: 50% 50% !important; }
}
