:root {
   --color-theme:#1a1820;
  --color-text-light-theme: #868686;
  --color-border-bg: #2b2934;
  --color-dropdown-bg: #2E2A35;
  --color-theme-blue: #059992;
  --color-white: #FFF;
  --color-off-white: #F3F6F9;
  --color-off-light: #302d3a;
  --color-theme-navyblue: #23a49e;
  --color-sidebar-bg: #221e29;
  --color-light-border: #302c36;

  --color-black: #000000;
  --color-gray: #888888;
  --color-gray-dark: #1a1820;
  --color-gray-light: #8B9AA8;
  --color-gray-darkest: #111111;
  --color-gray-lighter: #a7b3bd;
  --color-gray-lightest: #d4d9df;

  --color-blue-light: #54a1f3;
  --color-blue-lighter: #92BCEA;
  --color-blue-lightest: #E4ECF2;

  --color-primary: #c64b71;
  --color-success: #008081;
  --color-danger: #dc3545;
  --color-warning: purple;
  --color-green: #28a745;



  --color-background: var(--color-gray-dark);

  --color-text: var(--color-gray);
  --color-heading: var(--color-gray-dark);

  --color-link: var(--color-primary);
  --color-link-hover: #2687ef;

  --color-gray-label: var(--color-gray);

  --color-transparent: #ff000000;
}
