/*.invite-right-dropdown { position: fixed; right: 15px;  margin-top: 25px;  z-index: 70;   }*/
.invite-right-dropdown {float: right; position: absolute; right: 15px; top:3px;}
.invite-right-dropdown li {list-style: none;}
.invite-dropdown-content {min-width: 23em;}
.invite-right-dropdown .btnshare {color: #FFF;}
.invite-right-dropdown .invitelink {color: #4e519e !important; font-weight: 500;}
.invite-right-dropdown .fontbold { font-weight: 500;}

@-moz-document url-prefix() {
 .invite-right-dropdown {
 	top:3px;
	}	
}

@media screen and (max-width:767px) { 
.invite-right-dropdown {top: 3px; margin-top: 0px;}
.btnshare {padding: 1px 7px;}
.invite-dropdown-content {min-width: 20em;}
}