@import "/imports/ui/stylesheets/variables/_all";
@import "/imports/ui/components/modal/simple/styles";

:root {
  --mobile-swap-offset: 3.5rem;
  --min-modal-height: 20rem;
}

.modal {
  @extend .modal;
  padding: var(--jumbo-padding-y);
  min-height: var(--min-modal-height);
  text-align: center;
  
}


.overlay {
  @extend .overlay;
}

.title {
  font-weight: var(--headings-font-weight);
  font-size: var(--font-size-large);
  color: var(--color-background);
  white-space: normal;
  padding-bottom: var(--md-padding-x);


}

.actionsbar,
.center,
.right {
  display: flex;
  flex-direction: row;
}

.center {margin-left:-100px;
@include mq($small-only) { 
  margin-left:0px;
}

}

.center,
.right {
  flex: 1;
  justify-content: center;
}

.left,
.center,
.right {
  > * {
    margin: 0 var(--sm-padding-x);

    @include mq($small-only) {
      margin: 0 var(--sm-padding-y);
    }
  }
}

.left {
  display: inherit;
  flex: 0;
  @include mq($small-only) {
    bottom: var(--sm-padding-x);
    left: var(--sm-padding-x);
    right: auto;

    [dir="rtl"] & {
      left: auto;
      right: var(--sm-padding-x);
    }
  }
}

.right {
  position: absolute;
  bottom: var(--sm-padding-x);
  right: 115px;
  left: auto;

  [dir="rtl"] & {
    right: auto;
    left: var(--sm-padding-x);
  }

   @include mq($small-only) {
    right: 30px;
  }
}

.centerWithActions {
  @include mq($xsmall-only) {
    justify-content: center;
  }
}

.mobileLayoutSwapped {
  @include mq($xsmall-only) {
    padding-right: var(--mobile-swap-offset);

    [dir="rtl"] & {
      padding-right: 0;
      padding-left: var(--mobile-swap-offset);
    }
  }
}



.btn {
  span {
    box-shadow: none;
    background-color: #2d2835 !important; box-shadow:none !important;  color: #eeeeee !important;
    border-color: transparent !important;
  }
}

.mobiledropToggle {
background-color: var(--color-theme); 
border: none !important; padding:0px; margin:10px 0 0 0;
 
svg {font-size:23px; margin-top:5px;}

&:focus, &:focus-within, &:hover, &:active, &:visited, &:visited {background-color: var(--color-theme); outline:none !important; box-shadow:none !important; border: none !important;}

}
.mobiledropDownMenu {
  background-color: #221f29;
  min-width:5rem;

  ul {
  list-style:none;
  padding:0px;

    li { list-style:none; padding:5px; margin:0px; text-align:center; position: relative;
     
    }

  }

}

.btn:hover span {border-color: #44ADA8 !important; color: #44ADA8 !important;}
.btn:nth-child(2):hover span {border-color: #F9BA52 !important; color: #F9BA52 !important;}
.btn:nth-child(3):hover span {border-color: #FD512C !important; color: #FD512C !important;}
.btn:nth-child(4):hover span {border-color: #D30F5C !important; color: #D30F5C !important;}
.btn:nth-child(5):hover span {border-color: #44ADA8 !important; color: #44ADA8 !important;}
.btn:nth-child(6):hover span {border-color: #C80B5C !important; color: #C80B5C !important;}
.btn:nth-child(7):hover span {border-color: #FB652F !important; color: #FB652F !important;}
.btn:nth-child(8):hover span {border-color: #44ADA8 !important; color: #44ADA8 !important;}
