.header{background: #282330; padding-top: 0px;  position: relative;  z-index: 99; }
.header .navbar{padding: 4px 0px;}
.header .navbar ul li a{color: rgba(256,256,256,.5); margin-right: 15px; font-size: 13px; padding-top: 0px !important; padding-bottom: 0px !important;}
.header .navbar ul li a:hover{color: #fff}
.header .navbar ul li a i{margin-right: 5px;}
.header .navbar ul li a:focus, .header .navbar ul li a:active{outline: none;}
.header .navbar ul li .active-username{color: #f0608d !important }
.header .navbar ul li .btn-logout {background: none; border:none; font-size: 13px; color: rgba(256,256,256,.5); }
.header .navbar ul li .btn-logout:hover {color: #FFF;}
.meeting_sction_btn .srv_w_btn {
    display: inline-block;
    margin-left: 10px;
    border-radius: 30px;
    font-size: 13px;
    color: #fff;
    padding: 7px 15px;
    border: none;
    outline: none;
}
.meeting_sction_btn .srv_w_btn.w_orange_btn {
    background: #f67d44;
}
.meeting_sction_btn .srv_w_btn.w_blue_btn {
    background: #356bad;
}

.header .navbar-toggler {color: #fff; border-color: #fff;}
.dropdown-menu-right {
    right: 0;
    left: auto;
}
.user_dropdown_m {
    background: #282330;
    border-radius: 0px;
    margin-top: 5px;
    padding: 10px 0px;
}
.user_dropdown_m .dropdown-item, .user_dropdown_m .btn-logout {
    font-size: 15px !important;
    color: #fff !important;
    outline: none; width: 100%; text-align: left;
}
.user_dropdown_m .dropdown-item:hover, .user_dropdown_m .btn-logout:hover {
    background: #1d1923 !important;
    outline: none;
}
.user_dropdown_m .dropdown-item:focus, .user_dropdown_m .btn-logout:focus {
    background: #1d1923 !important;
    outline: none;
}

@media screen and (max-width:992px) { 
.header .navbar-toggler:focus, .header .navbar-toggler:focus-within, .header .navbar-toggler:active {box-shadow: none !important; outline: none !important; border:none !important;}
.mobileHeader {padding-top: 10px !important; padding-bottom: 10px !important;}
.mobileHeader .toggler-setting { position: absolute; right: 25px; top:10px; font-size: 16px; }
.host-username {width: 30%; display: inline-block; top:10px; position: absolute; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;  font-size: 14px; color:#FFF; font-weight: 300; left: 0px; right: 0px; margin: 0 auto; }
.host-username svg {color: #28a745; font-size: 10px; margin-right: 5px;}
.header .navbar ul li a {font-size: 14px; font-weight: 300; padding-top: 7px !important; padding-bottom: 7px !important;}
.header .navbar ul li .btn-logout {font-size: 14px;}
.header .navbar ul li a svg {margin-right: 10px;}
.mobileHeader .login-user-name {    color: #FFF;
    font-size: 16px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    text-transform: uppercase;
    margin-bottom: 15px;}
}
.mobileHeader .login-user-name span {width: 40px; height: 40px; font-size: 13px;}
.mobileHeader .login-user-name .btn-logout {margin-left: 35px; padding: 0px;}