@import "/imports/ui/stylesheets/variables/_all";
@import "/imports/ui/components/modal/simple/styles";
@import "/imports/ui/stylesheets/mixins/focus";

.header {
  margin: 0;
  padding: 0;
  border: none;
  line-height: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  width: 100%; text-align:center;
}

.videoOptions {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}

.overlay {
  @extend .overlay;
}

.modal {
  @extend .modal;
  padding: 1.5rem;
  min-height: 23rem;
}

.closeBtn {
  position: relative;
  background-color: var(--color-white);

  i {
    color: var(--color-gray-light);
  }

  &:focus,
  &:hover{
    background-color: var(--color-gray-lighter);
    i{
      color: var(--color-gray);
    }
  }
}
.warning{
  text-align: center;
  font-weight: var(--headings-font-weight);
  font-size: 5rem;
  white-space: normal;
}
.text{
  margin: var(--line-height-computed);
  text-align: center;
}

.main {
  margin: var(--line-height-computed);
  text-align: center;
  font-size: var(--font-size-large);
}

.streamBtn {
  i {
    color: #3c5764;
  }
  svg {color:var(--color-theme-navyblue);}
}

.streamBtn:first-child {
  
  svg {color:#f80000}
}

.streamBtn:last-child {
  
  svg {color:var(--color-theme-navyblue);}
}

// Modifies the audio button icon colour
.streamBtn span:first-child {
  color: #1b3c4b;
  background-color: #f1f8ff;
  box-shadow: none;
  border: 5px solid #f1f8ff;
  font-size: 3.5rem;

  @include mq($small-only) {
    font-size: 2.5rem;
  }
}

// When hovering over a button of class streamBtn, change the border colour of first span-child
/*.streamBtn:hover span:first-child,
.streamBtn:focus span:first-child {
  border: 5px solid var(--color-primary);
  background-color: #f1f8ff;
}*/

// Modifies the button label text
/*.streamBtn span:last-child {
  color: black;
  font-size: 1rem;
  font-weight: 600;
}*/

.title {
  text-align: center;
  font-weight: 300;
  font-size: 1.7rem;
  white-space: normal;

  @include mq(var(--small-only)) {
    font-size: 1rem;
    padding: 0 1rem;
  }
}

.videoDiv {
  
  label {
    display: block;
  }

  button {
    margin: 10px 20px; font-size:60px;
    padding: 0.4em; background:none; border:none;

    &:focus, &:hover {outline:none; box-shadow:none; background:none; border:none;}
  }

  span {
    font-weight: 600; 
    width:100%;
    display:block; 
    color:var(--color-white); 
    font-weight:300; font-size:16px; margin-top:10px;
  }
}

.rtmpURL, .videoUrl {
  margin: 20px var(--border-size) 0 var(--border-size);

  label {
    display: block;
    text-align:left;
     font-size:14px; 
    font-weight:var(--font-weight-thin); 
  }

  input {
    display: block;
    margin: 10px 0 10px 0;
    padding: 0.5rem 0.8em;
    color: var(--color-grey);
    line-height: 2rem;
    width: 100%;
    font-size:15px;
    font-weight: var(--font-weight-thin);
    background:var(--color-border-bg);
    border: 1px solid var(--color-border-bg);
    border-radius: var(--border-radius);

    :global(.animationsEnabled) & {
      transition: box-shadow .2s;
    }
    &:focus, &:hover {
    outline:none;
    border: 1px solid var(--color-primary);
    box-shadow:none;
   

    }
  }
  button {background:var(--color-theme-navyblue); border:none; width:200px; margin:0 auto; border-radius:30px; color:var(--color-white); margin-top:15px; padding: 0.8rem 0.5rem; font-size:16px; font-weight:var(--font-weight-thin) !important;

  span {

    font-weight:var(--font-weight-thin) !important;

  }

  &:focus, &:hover {
    background:var(--color-primary);
    outline:none;
    color:var(--color-white); 
    box-shadow:none; opacity:1;

  }

   }


  span {
    font-weight: 600;
  }
}

.urlError {
  color: red;
  padding: 1em 0 2.5em 0;

  :global(.animationsEnabled) & {
    transition: 1s;
  }
}

.externalVideoNote {
  color: var(--color-gray);
  font-size: var(--font-size-md);
  font-style: italic;
  padding-top: var(--sm-padding-y);
}
