@import "/imports/ui/stylesheets/variables/_all";
@import "/imports/ui/components/modal/simple/styles";

:root {
  --audioDial-margin-left: 2rem;
}

.header {
  margin: 0;
  padding: 0;
  border: none;
  line-height: 2rem;
}

.content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0.5rem 0;

  .audioBtn:first-child {
    margin: 1rem 3rem 1rem 0;

    [dir="rtl"] & {
      margin: 0 0 0 3rem;
    }

    @include mq($small-only) {
      margin: 0 1rem 0 0;

      [dir="rtl"] & {
        margin: 0 0 0 1rem;
      }
    }
  }

  .audioBtn:only-child {
    margin: inherit 0 inherit inherit;

    [dir="rtl"] & {
      margin: inherit!important inherit!important inherit!important 0;
    }
  }
}

.audioOptions {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  justify-content: center;

}

.browserWarning {
  padding: 0.5rem;
  border-width: 3px;
  border-style: solid;
  border-radius: 0.25rem;
}

.overlay {
  @extend .overlay;
}

.modal {
  @extend .modal;
  padding: 1.5rem;
  min-height: 20rem;
}

.closeBtn {
  position: relative;
  background-color: var(--color-white);

  i {
    color: var(--color-gray-light);
  }

  &:focus,
  &:hover {
    background-color: var(--color-gray-lighter);
    i {
      color: var(--color-gray);
    }
  }
}
.warning {
  text-align: center;
  font-weight: var(--headings-font-weight);
  font-size: 5rem;
  white-space: normal;
}
.text {
  margin: var(--line-height-computed);
  text-align: center;
}

.main {
  margin: var(--line-height-computed);
  text-align: center;
  font-size: var(--font-size-large);
}
.circle {width:80px; height:80px;}


.audioDial {
  margin: 0 auto;
  margin-top: var(--md-padding-y);
  display: block;

  span {font-size:16px; font-weight:300;}

  &:focus, &:hover {background-color:var(--color-primary) !important; color:var(--color-white) !important; opacity:1 !important;} 
}

.audioBtn {
  
  button {width:80px; height:80px;}

}

.audioBtn:first-child span:first-child {color: #2cc4b4;}
.audioBtn:first-child span:last-child {color: #2cc4b4;}
.audioBtn:last-child span:first-child {color: #f67d44;}
.audioBtn:last-child span:last-child {color: #f67d44;}
// Modifies the audio button icon colour
.audioBtn span:first-child {
border:2px solid transparent;
  background-color: none; background:none;
  box-shadow: none;
  font-size: 3rem; width:80px; height:80px; padding: 15px 0px 0px 0px;
  @include mq($small-only) {
    font-size: 2.5rem;
  }
}



// When hovering over a button of class audioBtn, change the border colour of first span-child
.audioBtn:first-child:focus span:first-child, .audioBtn:first-child:hover span:first-child, .audioBtn:first-child:active span:first-child {border:2px solid #2cc4b4; background: #15131a; background-color: #15131a;}

.audioBtn:last-child:focus span:first-child, .audioBtn:last-child:hover span:first-child, .audioBtn:last-child:active span:first-child {border:2px solid #f67d44; background: #15131a; background-color: #15131a;}


// Modifies the button label text
.audioBtn span:last-child {
  
  font-size: 1.4rem; background:none;
  font-weight: 300;
}

.title {
  text-align: center;
 font-weight: 300;
  font-size: 1.8rem;
  color: var(--color-text-light-theme);
  white-space: normal;

  @include mq($small-only) {
    font-size: 1.3rem;
    padding: 0 0rem;
  }
}

.connecting {
  margin-top: auto;
  margin-bottom: auto;
  font-size: 2rem;
}

.connectingAnimation {
  margin: auto;
  display: inline-block;
  width: 1.5em;

  &:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0;
    margin-left: 0.25em;

    :global(.animationsEnabled) & {
      animation: ellipsis steps(4, end) 900ms infinite;
    }
  }
}

@keyframes ellipsis {
  to {
    width: 1.5em;
  }
}

.audioNote {
  color: var(--color-white);
  display: inline-block;
  font-size: 1.1rem;
}

