.document-lft-section  {overflow-y:scroll; height:75vh;  position: relative;  max-width: 100%; padding-left: 0px; }
.document-lft-section h3 {color: #FFF;}
.document-lft-section .doc-list {margin-bottom: 15px;  cursor: pointer; position: relative;  border:1px solid #423d4b; text-align: center; border-radius: 5px; text-align: center;	 overflow: hidden; height: 155px; min-height: 155px;}

.document-lft-section .doc-list .video-thumb {max-width: 100%;}
.document-lft-section .doc-list ul {position: absolute; right: 10px; width: auto; top: 7px; margin: 0px; }
.document-lft-section .doc-list ul li {list-style: none; display: inline-block; width: 25px; height: 25px; margin-left: 3px;}
.document-lft-section .doc-list ul li a, .document-lft-section .doc-list ul li button {display: inline-block; border:none;  width: 22px; font-size: 10px; height: 22px; border-radius: 50% 50%; padding-top: 2px; color: #FFF;}
.document-lft-section .doc-list ul li button:focus {outline: none; box-shadow: none;}
.document-lft-section .doc-list ul li button.bgyellow {background:#e4aa40;}
.document-lft-section .doc-list ul li button.bgskyblue {background:#3497e3;}
.document-lft-section .doc-list ul li button.bgred {background:#e65d5b;}
.document-lft-section .doc-list ul li button.bgperple {background:#8e6dc4;}
.document-lft-section .doc-list ul li a i {margin-top: 4px;}
.document-lft-section .doc-list .thumb-title {color: #FFF; font-size: 14px; text-align: left; font-weight: 300; padding-left: 15px; padding-right: 5px; color: #868686; margin-top: 10px;}
.document-lft-section .doc-list .thumb-title .doc-title-text {display: inline-block; width: 87%; white-space: nowrap; padding-top: 5px; overflow: hidden;text-overflow: ellipsis;}
.document-lft-section .doc-list .thumb-title span {margin-right: 10px; vertical-align: top; font-size: 22px; display: inline-block;}
.document-lft-section .document-lft-section .doc-list:hover ul {display: block;}

.document-lft-section .doc-list .doc-thumb-img {height: 100px; overflow: hidden; }
.document-lft-section .doc-list .doc-thumb-img span {font-size: 35px; margin-top: 10px; display: inline-block;}
.document-lft-section .doc-list .for_word {color:#3598db}
.document-lft-section .doc-list .for_pdf {color:#f1c40f}
.document-lft-section .doc-list .for_xls {color:#e77e23}
.document-lft-section .doc-list .for_ppt {color:#e84c3d}
.document-lft-section .doc-list .for_mp3 {color:#d25383}
.document-lft-section .doc-list .for_img {color:#e77e23}

.no_doc_attach {color: #6b676f; font-size: 25px; font-weight: 300; width: 100%; text-align: center; margin-top: 50%;}
.no_doc_attach svg {font-size: 40px;}