@import "/imports/ui/stylesheets/variables/_all";

.keyCell, .valueCell, .userInfoTable {
  border: var(--border-size) solid var(--color-gray-lighter);
}

.userInfoTable {
  border-collapse: collapse;
  border: none;

  width: 90%;
  margin: auto;

  table-layout: fixed;

  td {
    word-wrap: break-word;
  }
}
.header {
  
  h2 {text-align:center; color:#FFF; font-weight:300;}
}
.content {text-align:center;}

.file_sharng_sct {
  text-align:center;
  label {font-size:17px; padding:10px 0px;}
}
.copycoderow {width:100%; border:1px solid rgba(0, 0, 0, 0.2); background:rgba(0, 0, 0, 0.2); float:left; display:block; border-radius:5px; height:40px; margin-bottom:20px }
.codeurl {width:80%; display:inline-block; float:left; font-weight:300; overflow:hidden; padding:10px 0 0 10px; color:#FFF; font-size:14px; }
.copy_btn {float:right; background:none; border:none; background:#356bad; color:#FFF; width:40px; height:40px; border-radius: 0px 5px 5px 0px;  font-size:15px; padding-top:7px; margin: -1px -1px 0 0;

&:focus, &:hover {outline:none; border:none; box-shadow:none;}
&:hover {background:#4b88d2;}

}

.keyCell, .valueCell {
  padding: var(--md-padding-x);
}
.bgskyblue {background:#3497e3;}

